
::-webkit-scrollbar {
    width: 3px;
}

div:hover > ::-webkit-scrollbar-thumb {
    background-color: #828282;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999999;
    border-radius: 5px;
}

.pt-30 {
    padding-top: 30px;
}

.p-0 {
    padding: 0;
}
